version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "06:00"
      timezone: "UTC"
    open-pull-requests-limit: 5
    target-branch: "develop"
    versioning-strategy: increase
    labels:
      - "deps"
      - "automated"
    allow:
      - dependency-type: "production"
      - dependency-type: "development"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "06:30"
      timezone: "UTC"
    open-pull-requests-limit: 5
    target-branch: "develop"
    labels:
      - "deps"
      - "ci"
