<div class="app-shell">
  <app-navbar></app-navbar>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer class="footer">
    <div class="container footer__content">
      <span>{{ 'footer.copy' | translate }} {{ currentYear }}</span>
      <div class="footer__links">
        <a href="https://github.com/fjbatresv" target="_blank" rel="noreferrer">{{
          'footer.links.github' | translate
        }}</a>
        <a href="https://www.linkedin.com/in/fjbatresv" target="_blank" rel="noreferrer">{{
          'footer.links.linkedin' | translate
        }}</a>
        <a href="mailto:fjbatresv@gmail.com?subject=Contact%20from%20website">{{
          'footer.links.email' | translate
        }}</a>
      </div>
    </div>
  </footer>
</div>
